.footer-block{
    background-color: #000000;
    height: 80px;
    margin-top: 71px;

}

.footer-content{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.footer-text{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 400;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-img{
    width: 38px;
    height: 24px;
}

.footer-text-img{
    width: 64px;
    height: 16px;
}