.header-block{
    display:flex;
    background-color: #313131;
    justify-content: space-between;

}

.header-logo-block{
    display: flex;
}

.Logo-text{
    color:#FFFFFF;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
}

.image-logo-border{
    display: flex;
    width: 81px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.logo-img{

    width: 27px;
    height: 27px;
}

.header-menu{
    display:flex;
    justify-content: center;
    align-items: center;

}

.item-header-menu{
    display:flex;


}
.item-header-menu-link{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin: 17px;


}

.item-header-menu-link:hover{
    color:#14B9D5;
}

.header-search{
    display: block;
    width: 68px;
    height: 70px;
    background-color: #000000;




}

.image-search{
    width: 17px;
    height: 17px;
    padding: 27px 26px;

}