
.hot-news-section-title{
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 51px;
    display: flex;
    justify-content: center;
}


.news-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 418px 418px 259px;
    gap: 35px;
    /*  grid-template-areas:
      "item-1 item-1 item-1 item-2"
      "item-3 item-3 item-4 item-4"
      "item-5 item-5 item-6 item-6"
      "item-7 item-8 item-8 item-8"; */

}

.hot-news-image{
width: 100%;
}

.image-text-title{
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color:#353A3D;
}

.image-text-hot-news{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #5B6469;
}

.image-text-block{
    display: flex;
    flex-direction: column;
}

.hotel-spa-in-emirate{
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-area: item1; */
    display: flex;
    background-color: #F9F7F7;
  }

.hotel-spa-in-emirate-text{
    padding-right: 25px;
    justify-content: center;
    text-align: right;
}


  .hotel-in-spain{
      grid-column-start: 4;
      grid-column-end: 5;
      /* grid-area: item2; */
      background-color: #F9F7F7;
  }

  .hotel-in-spain-text{
      align-items: center;
      justify-content: center;
  }


  .pyramid-resort-in-egypt{
      grid-column-start: 1;
      grid-column-end: 3;
      /* grid-area: item3;*/
      background-color: #F9F7F7;
  }

  .pyramid-resort-in-egypt-text{
      text-align: right;
  }

  .image-title-hot-news{
      padding-right: 27px;
      padding-top: 12px;
      padding-bottom: 15px;
  }

  .image-description-hot-news{
      padding-right: 14px;
      padding-left: 13px;
  }

  .resort-in-maldives{
      grid-column-start: 3;
      grid-column-end: 5;
      /* grid-area: item4;*/
      background-color: #F9F7F7;
  }

  .resort-in-maldives-text{
      text-align: right;
  }


  .resort-in-tenerife{
      grid-column-start: 1;
      grid-column-end: 3;
      /*  grid-area: item-5; */
      background-color: #F9F7F7;
   }

  .resort-in-tenerife-text{
      text-align: right;
  }


   .hotel-in-great-britain{
       grid-column-start: 3;
       grid-column-end: 5;
       /* grid-area: item-6; */
       background-color: #F9F7F7;
   }

   .hotel-in-great-britain-text{
       text-align: right;
   }

   .hotel-in-ireland{
       grid-column-start: 1;
       grid-column-end: 2;
       /* grid-area: item-7; */
       background-color: #F9F7F7;
   }

   .resort-in-spain{
       grid-column-start:2;
       grid-column-end: 5;
      /* grid-area: item-8; */
       display: flex;
       background-color: #F9F7F7;
}

   .hotel-in-ireland-text{
       align-items: center;
       justify-content: center;
   }



.resort-in-spain-text{
    padding-right: 25px;
    justify-content: center;
    text-align: right;
}

.image-title-padding{
    padding-bottom: 14px;
}
