.our-popular-clients{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: center;*/
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 588px;
}

.popular-clients-banner-title{
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color:  #FFFFFF;
    text-transform: uppercase;
    padding-top: 106px;
    padding-bottom: 87px;
}

.decoration-line{
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    margin-bottom: 106px;
}

.popular-clients-wrapper{
    display: grid;
    width: 881px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 55px;
    grid-column-gap: 56px;
    padding-left: 345px;

    

}

