.popular-posts{
background-color: #F2F2F2;
    padding-bottom: 72px;
}

.container{
    width: 1170px;
    margin: 0 auto;


}

.popular-posts-section-title{
    font-size: 27px;
    line-height: 37px;
    font-weight: 700;
    color: #18B4CF;
    text-transform: uppercase;
    padding-top: 49px;
    padding-bottom: 52px;
    display: flex;
    justify-content: center;
}

.link-text{
    text-decoration: none;
}

.popular-posts-image-block{
    display: flex;
    justify-content: space-between;
}



.image-space{
    margin-bottom: 30px;
}

.popular-posts-images{
    width: 370px;
}

.image-text{
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    background-color: #FFFFFF;

}