.subscription-banner{
    display: flex;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    height: 369px;

}

.banner-shadow{
   background: rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
  flex-direction: column;
    align-items: center;
}

.subscription-banner-title{

    color:#FFFFFF;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    padding-bottom: 44px;
    margin-top: 10%;
}

.btn{
    padding-top: 16px;
    padding-bottom: 17px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    color: #FFFFFF;
    width: 170px;
    border-radius: 3px;
    border: none;

}

.btn-subscribe{
    background-color:  #89CA62;
    margin-right: 20px;
}

.btn-articles{
    background-color: #14B9D5;;
}