.top-rated-title{
    font-size: 27px;
    line-height: 37px;
    font-weight: 700;
    color: #18B4CF;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 49px;
    padding-bottom: 52px;
}

.top-rated-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;

}